* {
  font-family: "Helvetica", Sans-serif;
  margin: 0rem;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

header section {
  position: relative;
  width: 100%;
  background-color: #2C9AB7;
  height: 200px;
}

header h1 {
  position: absolute;
  font-size: 3rem;
  color: white;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%);
}

h1 p {
  font-weight: normal;
  font-size: 1.5rem;
}
h3 {
  color: #2C9AB7;
  margin: 10px 0px 20px 0px;
}

h4 {
  margin-bottom: 5px;
}

aside img {
  max-width: 220px;
}

aside a {
  color: #2C9AB7;
  font-weight: lighter;
  font-size: .8rem;
}



.main-content {
  margin-left: 10%;
  width: 80%;
  line-height: 1.6rem;
  height: 650px;

}

.main-content p, aside figcaption {
  font-weight: normal;
  font-size: .8rem;
}

.main-content aside {
  float: right;
  width: 25%;
  margin-left: 3rem;
}

.main-content article {
  width: 75%;

}

.spacer {
  height: 20px;
}

p.quote {
  color: #2C9AB7;
  font-size: 1.2rem;
  margin: 30px 0px 30px 0px;
}


footer {
  clear: both;
  width: 100%;
  position: relative;
  background-color: #393939;
  height: 300px;
  color: white;
  text-align: center;
  font-size: .8rem;
  line-height: 1.5rem;
}

footer img {
  margin-top: 40px;
  margin-bottom: 10px;
  max-width: 250px;
  height: auto;
}

footer nav {
  color: white;
  background-color: #393939;
  margin-top: 20px;
  margin-bottom: 20px;

}

footer nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 0px 5px 0px 5px;

}



.highlight-blue {
  color: #2C9AB7;
}


#paragraph-quote {
  color: #2C9AB7;
  font-size: 1.4rem;
  padding-bottom: 50px;
  line-height: 2rem;
}

#header-nav {
  background-color: #EBEBEB;
  width: 100%;
  padding: 15px 10% 15px 10%;

}
#header-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px;
  margin: 0px 5px 0px 5px;
}

#nav-spacer {
  height: 275px;
}
